

.about-us_hero {
    background: url(Images/CTA-darken.png);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 30%;
  
}

.carousel-item {
 
  margin-top: 10%;
  margin-left: 25%;
  
 

  }

  .carousel-background2{
    background-color: brown;
    width: 50%;
    height: 400px;
  }
  
  .carousel-background {
    background-color: rgba(0, 128, 0, 0.685);
    border-radius: 20px;
    width: 50%;
    height: 400px;
  
  }

  .carousel-background h3{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
  }
  