.about-us_hero {
  background: url(Images/CTA-darken.png);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 30%;
}

.carousel-item {
  margin-top: 10%;
  margin-left: 25%;
}





.carousel-background {
  background-color: rgba(0, 128, 0, 0.685);
  border-radius: 20px;
  width: 50%;
  height: 400px;
  text-align: center;
}

.carousel-background h2 {
  background-color: red;
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
}

.carousel-background h3 {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}




.about-us_paragraph {
  font-size: 20px;
}

.profile-pic {
  box-shadow: 0px 7px 20px -2px rgba(89, 88, 88, 0.75);
  -webkit-box-shadow: 0px 7px 20px -2px rgba(89, 88, 88, 0.75);
  -moz-box-shadow: 0px 7px 20px -2px rgba(89, 88, 88, 0.75);
    
}

.membership-local {
  background: url(Images/Events\ 1.jpg);
  background-size: cover;
  height: 250px;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  box-shadow: 12px 8px 9px -4px rgba(48,163,73,0.75);
  -webkit-box-shadow: 12px 8px 9px -4px rgba(48,163,73,0.75);
  -moz-box-shadow: 12px 8px 9px -4px rgba(48,163,73,0.75);
}

.membership-international {
  background: url(Images/Events\ 1.jpg);
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 12px 8px 9px -4px rgba(48,163,73,0.75);
  -webkit-box-shadow: 12px 8px 9px -4px rgba(48,163,73,0.75);
  -moz-box-shadow: 12px 8px 9px -4px rgba(48,163,73,0.75);
}

.membership-badge {
  background-color: rgba(0, 128, 0, 0.685);
  color: white;
  padding: 5px;
  display: inline-block;
}

.membership-details{
  background-color: rgba(0, 128, 0, 0.685);
  color: white;
  padding: 3px;
  display: inline-block;
  border-radius: 16px;
  width: 80%;
}