.contact-us_hero {
    background: url(Images/Contact-us-darkenf.png);
    background-size: cover;
   background-position: 50%;
    width: 100%;
    height: 950px;
}

.contact-us_heading {
    margin-top: 10%;
    color: white;
}

.icon {
    margin-top: 75%;
    vertical-align: top;
    margin-left: 50%;
    padding: 5px;
    background-color: white;
    border-radius: 100px;
    font-size: 30px;  
    display: inline-block;
    font-size: 50px;
}
.icon-description{
    display: inline-block;
    margin-top: 25%;
    margin-left: 8px;
    color: white;
    
    
}
p {
    /* display: inline-block; */
    margin-left: 8px;
    color: white;
}

/* .magnifying-icon {
    margin-top: 25%;
    vertical-align: top;
    padding: 10px;
    background-color: white;
    border-radius: 100px;
    font-size: 30px;
    display: inline-block;
    font-size: 30px;
}

h5 {
    display: inline-block;
    margin-top: 25%;
    margin-left: 8px;
}

p {
    margin-left: 8px;
} */

/* .magnifying-icon {
    float: left; 
    margin-top: 25%;
    margin-right: 12px;
    vertical-align: top;
    padding: 10px;
    background-color: white;
    border-radius: 100px;
  
    display: inline-block;
    font-size: 60px;
}

h5 {
    float: right;
  margin-top: 25%;
   
    
}

p {
   
  margin-top: 0; 
 
} */


.form-field {
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.369);
    padding: 20px;
    border-radius: 20px;
}



@media screen and (max-width:425px) {
   .contact-us_hero {
    height: 1250px;
   }
}

