* {
  box-sizing: border-box;
}

.hero-section {
  background: url(Images/CTA-darken.png);
  background-size: cover;
  width: 100%;
  height: 800px;
}

@media screen and (max-width: 48rem) {
  .hero-section {
    height: 600px;
  }
}

@media screen and (max-width: 26.5rem) {
  .hero-section {
    height: 400px;
  }
}


.hero-page_heading {
  margin-top: 40%;
}

.hero-button {
  background-color: #30a349;
  color: white;
  padding: 14px 32px;
  border-radius: 10px;
  border: #30a349;
  text-decoration: none;
  display: inline-block;
  margin-top: 10%;
  
}

.learn-more {
  background-color: #f5f5f5;
}

.learn-more_paragraph {
  font-size: 20px;
}


@media screen and (max-width: 48rem) {
  .learn-more_image {
    height: 300px;
  }
}



.benefits-img1 {
  background: url(Images/benifits1.jpg);
  background-size: cover;
  height: 250px;
  width: 100%;
  border-radius: 20px;
  position: relative;
}
.benefits-img2 {
  background: url(Images/benefits2.jpg);
  background-size: cover;
  height: 250px;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.benefits-img3 {
  background: url(Images/benefits3.jpg);
  background-size: cover;
  height: 250px;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.benefits-img4 {
  background: url(Images/benefits4.jpg);
  background-size: cover;
  height: 250px;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.benefits-img5 {
  background: url(Images/benefits5.jpg);
  background-size: cover;
  height: 250px;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.benefits-img6 {
  background: url(Images/benefits6.jpg);
  background-size: cover;
  height: 250px;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.benefits-img7 {
  background: url(Images/benefits7.jpg);
  background-size: cover;
  height: 250px;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.benefits-paragraph {
  position: absolute;
  bottom: 0;
  color: white;
  background: #30a349af;
  padding-bottom: 10px;
  margin-bottom: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.benefits-paragraph3 {
  position: absolute;
  bottom: 0;
  color: white;
  background: #30a349af;
  padding-bottom: 10px;
  padding-right: 70px;
  margin-bottom: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
